.loginpg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: whitesmoke;
  width: 621px;
  height: 426px;
  padding-top: 20px;
}
.content {
  padding-left: 64px;
}

.loginpg .box .content h1 {
  font-size: 22px;
  margin-bottom: 0px;
}
.content h2 {
  font-size: 15px;
  margin-top: 2px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.email,
.password {
  width: 450px;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
}

.inputform {
  align-items: center;
  justify-content: center;
  padding-left: 64px;
}

