/* navBar.css */

.navB {
    background-color: black;
    padding: 10px 20px;
  }
  
  .ord1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoN {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-left: 20px;
    font-size: 16px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: gray;
  }
  
  ul li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  ul li button:hover {
    color: gray;
  }
  