

table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
  }

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
  }
  
 tr:hover {
    background-color: #f9f9f9;
  }

/* Modal Container */
.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
}

/* Overlay (Clickable Area) */
.overlay {
  position: absolute;
  margin-top: 100px;
  margin-left: 600px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  align-items: center;
}

/* Content Container */
.content h2{
  text-decoration:underline;
}
.content {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: left;
  align-items: left;
}
